<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>

    <h1>Panel de Administración</h1>

    <a href="{% url 'lista_alumnos' %}"class="button">Alumnos</a>
    <a href="{% url 'lista_competencia' %}"class="button">Competencias</a>
    <a href="{% url 'lista_profesor' %}" class="button">Profesores</a>
    <a href="{% url 'lista_categoria' %}" class="button">Categorías</a>
    <a href="{% url 'lista_clase' %}" class="button">Clases</a>
    <a href="{% url 'lista_turno' %}" class="button">Turnos</a>
    <a href="{% url 'lista_cuota' %}" class="button">Cuotas</a>
    <a href="{% url 'lista_caballo' %}" class="button">Caballos</a>

</body>
</html>
