<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <section id="nuestra-historia">
        <p><strong>Nuestra Historia</strong></p>
        <p>Fundado el 21 de diciembre de 2021, el Centro Ecuestre Arre Caballito se ha convertido en un destino de excelencia para los amantes de los caballos y la equitación. Situado en un entorno tranquilo y natural, nuestro centro ofrece una experiencia única para niños y adolescentes.</p>
        <p>La misión en el Centro Ecuestre Arre Caballito es proporcionar un ambiente seguro, educativo y emocionante donde los estudiantes puedan desarrollar una conexión genuina con los caballos mientras mejoran sus habilidades ecuestres. Se especializamos en dos disciplinas principales: salto de obstáculos y carrera de tambores.</p>
        <p>En las clases de equitación, los instructores trabajan en estrecha colaboración con cada jinete, brindando una enseñanza personalizada que se adapta a las necesidades y metas individuales. Ya sea que estén interesados en perfeccionar la técnica de salto o dominar la destreza en la carrera de tambores, en el Centro Ecuestre Arre Caballito se encuentra la guía y el apoyo necesarios para alcanzar sus objetivos.</p>
        <p>Además de las clases regulares, también ofrecen programas de entrenamiento intensivo y eventos emocionantes para que los estudiantes puedan expandir sus conocimientos y disfrutar al máximo de su pasión por la equitación.</p></p>
        <a href="{% url 'inicio' %}"class="button">Volver a la Página Principal</a>
    </section>    
</body>
</html>