<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <section id="servicios">
        <h2>Servicios</h2>
        <p>Brindamos una enseñanza personalizada que se adapta a las necesidadesy metas individuales. Las clases de equitación se dividen en tres categorias:</p>
        <p>Pony</p>
        <p>Escuelita</p>
        <p>Escuela</p>
        <a href="{% url 'inicio' %}" class="button">Volver a la Página Principal</a>
    </section>
</body>
</html>